# City anaysis

## Package installation

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.offline as pyo
import plotly.graph_objs as go
from folium import plugins
from plotly.subplots import make_subplots
import folium
import matplotlib as plt
import seaborn as sns
from matplotlib.cm import ScalarMappable
from matplotlib.colors import Normalize

## Load Data

Source: https://datausa.io/profile/geo/new-york-ny?compare=san-francisco-ca

In [2]:
CitizenshipNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/CitizenshipNY.csv")
CitizenshipSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/CitizenshipSA.csv")
DegreesNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/DegreesNY.csv")
DegreesSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/DegreesSA.csv")
DomestictradeNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/DomestictradeNY.csv")
DomestictradeSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/DomestictradeSA.csv")
EducationalAttainmentNY  = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EducationalAttainmentNY.csv")
EducationalAttainmentSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EducationalAttainmentSA.csv")
EducationNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EducationNY.csv")
EducationSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EducationSA.csv")
EmploymentIndustriesNY  = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EmploymentIndustriesNY.csv")
EmploymentIndustriesSA  = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EmploymentIndustriesSA.csv")
OccupationNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/OccupationsNY.csv")
OccupationSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/OccupationsSA.csv")

## Data cleaning

In [3]:
CitizenshipNY.head(5)

,ID Citizenship,Citizenship,ID Year,Year,Citizenship Status,Geography,ID Geography,Slug Geography,Citizenship %
0,0,Citizen,2020,2020,304900364,United States,01000US,united-states,0.933647
1,0,Citizen,2020,2020,17694151,New York,04000US36,new-york,0.906702
2,0,Citizen,2020,2020,1187900,"Bronx County, NY",05000US36005,bronx-county-ny,0.832413
3,0,Citizen,2020,2020,2223969,"Kings County, NY",05000US36047,kings-county-ny,0.863084
4,0,Citizen,2020,2020,1407750,"New York County, NY",05000US36061,new-york-county-ny,0.864099

In [4]:
CitizenshipSA.head(5)

,ID Citizenship,Citizenship,ID Year,Year,Citizenship Status,Geography,ID Geography,Slug Geography,Citizenship %
0,0,Citizen,2020,2020,304900364,United States,01000US,united-states,0.933647
1,0,Citizen,2020,2020,34415898,California,04000US06,california,0.874698
2,0,Citizen,2020,2020,764683,"San Francisco County, CA",05000US06075,san-francisco-county-ca,0.874139
3,0,Citizen,2020,2020,764683,"San Francisco, CA",16000US0667000,san-francisco-ca,0.874139
4,0,Citizen,2020,2020,4093204,"San Francisco-Oakland-Hayward, CA",31000US41860,san-francisco-oakland-hayward-ca,0.869189

Okay, så det ligner ikke de her filer er joinet. Jeg tror måske ikke vi kan gøre det hvor vi loader mere ned. Så skal vi have alle filerne for sig? Men så syntes jeg vi skal diskutere om det på en eller anden måde er plagiat, da filerne så er taget ned på baggrund af data der er brugt i plot? Så vi skal passe på ikke bare at gengive det præcis samme? Og kan vi lade vær med det?

In [12]:
#Combine the dataframes on the same topic for the two cities
Citizenship = pd.concat([CitizenshipNY, CitizenshipSA])
Citizenship = Citizenship.reset_index(drop=True)
Degrees = pd.concat([DegreesNY, DegreesSA])
Degrees = Degrees.reset_index(drop=True)
Occupation = pd.concat([OccupationNY, OccupationSA])
Occupation = Occupation.reset_index(drop=True)

#State level dataframes
Domestictrade = pd.concat([DomestictradeNY, DomestictradeSA])
Domestictrade = Domestictrade.reset_index(drop=True)
EducationalAttainment = pd.concat([EducationalAttainmentNY, EducationalAttainmentSA])
EducationalAttainment = EducationalAttainment.reset_index(drop=True)
Education = pd.concat([EducationNY, EducationSA])
Education = Education.reset_index(drop=True)
EmploymentIndustries = pd.concat([EmploymentIndustriesNY, EmploymentIndustriesSA])
EmploymentIndustries = EmploymentIndustries.reset_index(drop=True)