# City anaysis

## Package installation

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.offline as pyo
import plotly.graph_objs as go
from folium import plugins
from plotly.subplots import make_subplots
import folium
import matplotlib as plt
import seaborn as sns
from matplotlib.cm import ScalarMappable
from matplotlib.colors import Normalize

## Load Data

Source: https://datausa.io/profile/geo/new-york-ny?compare=san-francisco-ca

In [2]:
CitizenshipNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/CitizenshipNY.csv")
CitizenshipSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/CitizenshipSA.csv")
DegreesNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/DegreesNY.csv")
DegreesSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/DegreesSA.csv")
DomestictradeNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/DomestictradeNY.csv")
DomestictradeSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/DomestictradeSA.csv")
EducationalAttainmentNY  = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EducationalAttainmentNY.csv")
EducationalAttainmentSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EducationalAttainmentSA.csv")
EducationNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EducationNY.csv")
EducationSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EducationSA.csv")
EmploymentIndustriesNY  = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EmploymentIndustriesNY.csv")
EmploymentIndustriesSA  = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EmploymentIndustriesSA.csv")
OccupationNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/OccupationsNY.csv")
OccupationSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/OccupationsSA.csv")

## Data cleaning

Okay, så det ligner ikke de her filer er joinet. Jeg tror måske ikke vi kan gøre det hvor vi loader mere ned. Så skal vi have alle filerne for sig? Men så syntes jeg vi skal diskutere om det på en eller anden måde er plagiat, da filerne så er taget ned på baggrund af data der er brugt i plot? Så vi skal passe på ikke bare at gengive det præcis samme? Og kan vi lade vær med det?

In [12]:
#Combine the dataframes on the same topic for the two cities
Citizenship = pd.concat([CitizenshipNY, CitizenshipSA])
Citizenship = Citizenship.reset_index(drop=True)
Education = pd.concat([EducationNY, EducationSA])
Education = Education.reset_index(drop=True)
Degrees = pd.concat([DegreesNY, DegreesSA])
Degrees = Degrees.reset_index(drop=True)
Occupation = pd.concat([OccupationNY, OccupationSA])
Occupation = Occupation.reset_index(drop=True)
EmploymentIndustries = pd.concat([EmploymentIndustriesNY, EmploymentIndustriesSA])
EmploymentIndustries = EmploymentIndustries.reset_index(drop=True)

#State level dataframes
Domestictrade = pd.concat([DomestictradeNY, DomestictradeSA])
Domestictrade = Domestictrade.reset_index(drop=True)
EducationalAttainment = pd.concat([EducationalAttainmentNY, EducationalAttainmentSA])
EducationalAttainment = EducationalAttainment.reset_index(drop=True)

## State level

### Education

In [20]:
#EducationalAttainment.head(10)
#EducationalAttainment['Year'].unique()
EducationalAttainment = EducationalAttainment[EducationalAttainment['Year'].isin([2014,2015])]
EducationalAttainment.head(5)

,ID Group,Group,ID Degree,Degree,ID Year,Year,ID Nation,Nation,ID State,State,Total Population
120,Associates Degree,Associates Degree,20,Associates Degree,2015,2015,01000US,United States,04000US36,New York,1258997
121,Bachelors Degree,Bachelors Degree,21,Bachelors Degree,2015,2015,01000US,United States,04000US36,New York,2873103
122,Graduate Degree,Graduate Degree,22,Masters Degree,2015,2015,01000US,United States,04000US36,New York,1447816
123,Graduate Degree,Graduate Degree,23,Professional degree,2015,2015,01000US,United States,04000US36,New York,368741
124,Graduate Degree,Graduate Degree,24,Doctorate degree,2015,2015,01000US,United States,04000US36,New York,193364

In [26]:
#There is 24 different degrees. I would like a summation based on state, where State is in the legend. 
# Year should only be 2014 - bokhek plot? 
EducationalAttainment['Degree'].nunique()

### Trade

In [29]:
Domestictrade

,ID Year,Year,ID SCTG2,SCTG2,Millions Of Dollars,Thousands Of Tons,Origin,ID Origin,Value Prev,Millions Of Dollars Growth,Share
0,2050,2050,1,Live animals/fish,5320.808594,1656.082275,New York,04000US36,4616.883789,15.246752,0.328558
1,2050,2050,2,Cereal grains,2661.047852,11131.704102,New York,04000US36,2548.742920,4.406287,0.164319
2,2050,2050,3,Other ag prods.,29099.316406,23259.843750,New York,04000US36,26967.632812,7.904600,1.796874
3,2050,2050,4,Animal feed,9112.720703,18486.140625,New York,04000US36,8163.356934,11.629576,0.562708
4,2050,2050,5,Meat/seafood,25073.578125,4646.510254,New York,04000US36,23721.218750,5.701054,1.548286
...,...,...,...,...,...,...,...,...,...,...,...
1255,2013,2013,38,Precision instruments,85918.312500,2430.050781,California,04000US06,85292.304688,0.733956,4.202372
1256,2013,2013,39,Furniture,48589.460938,10011.717773,California,04000US06,46178.191406,5.221663,2.376571
1257,2013,2013,40,Misc. mfg. prods.,109231.734375,10490.370117,California,04000US06,102050.789062,7.036639,5.342660
1258,2013,2013,41,Waste/scrap,10027.871094,77096.906250,California,04000US06,10276.450195,-2.418920,0.490476
1259,2013,2013,43,Mixed freight,151510.953125,41735.410156,California,04000US06,152662.296875,-0.754177,7.410590

## City level

### Population

### Education

### Work force, Industries & Employment