# City anaysis

## Package installation

In [4]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.offline as pyo
import plotly.graph_objs as go
from folium import plugins
from plotly.subplots import make_subplots
import folium
import matplotlib as plt
import seaborn as sns
from matplotlib.cm import ScalarMappable
from matplotlib.colors import Normalize

## Load Data

In [7]:
Population = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/Population.csv")
Economy = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/Economy.csv")
Education = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/Education.csv")
OccupationNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/OccupationsNY.csv")
OccupationSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/OccupationsSA.csv")
WorkNY = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EmploymentIndustriesNY.csv")
WorkSA = pd.read_csv("/Users/stj/Documents/DTU_BA/2_Semester/Socialdata/Data2/EmploymentIndustriesSA.csv")

/var/folders/f4/hnc0bs0j08n3_cj0st8497wh0000gn/T/ipykernel_45403/707158085.py:1: DtypeWarning:

Columns (1,3,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.

## Data cleaning

In [10]:
Education

,ID Kaiser Coverage,Kaiser Coverage,ID Degree,Degree,ID CIP,CIP,Admissions Enrolled Men (2014),Admissions Enrolled Men (2015),Admissions Enrolled Men (2016),Admissions Enrolled Men (2017),...,ID Group (2018),ID Group (2019),ID Group (2020),Total Population (2014),Total Population (2015),Total Population (2016),Total Population (2017),Total Population (2018),Total Population (2019),Total Population (2020)
0,NaN,NaN,NaN,NaN,NaN,NaN,20973.0,20799.0,21079.0,19581.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,5.0,Bachelors Degree,30103.0,Environmental Studies,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5.0,Bachelors Degree,30104.0,Environmental Science,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,5.0,Bachelors Degree,40201.0,Architecture,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5.0,Bachelors Degree,40301.0,"Urban, Community, & Regional Planning",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,1.0,Medicare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,2.0,Employer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
506,3.0,OtherPublic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,4.0,NonGroup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
508,5.0,Uninsured,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Okay, så det ligner ikke de her filer er joinet. Jeg tror måske ikke vi kan gøre det hvor vi loader mere ned. Så skal vi have alle filerne for sig? Men så syntes jeg vi skal diskutere om det på en eller anden måde er plagiat, da filerne så er taget ned på baggrund af data der er brugt i plot? Så vi skal passe på ikke bare at gengive det præcis samme? Og kan vi lade vær med det?

In [11]:
OccupationNY

,ID Group,Group,ID Subgroup,Subgroup,ID Occupation,Occupation,ID Year,Year,ID State,State,...,Geography,ID Geography,Slug Geography,Median Earnings,Median Earnings Moe,Workforce Prev,Workforce Growth,Median Earnings Prev,Median Earnings Growth,Share
0,0,"Management, Business, Science, & Arts Occupations",0,"Management, Business, & Financial Occupations",0,Management Occupations,2020,2020,04000US36,New York,...,"New York, NY",16000US3651000,new-york-ny,176031,3587,415626.0,2.009499,171265.0,2.782822,10.494489
1,0,"Management, Business, Science, & Arts Occupations",0,"Management, Business, & Financial Occupations",1,Business & Financial Operations Occupations,2020,2020,04000US36,New York,...,"New York, NY",16000US3651000,new-york-ny,164187,3598,256066.0,1.511720,159787.0,2.753666,6.434075
2,0,"Management, Business, Science, & Arts Occupations",1,"Computer, Engineering, & Science Occupations",2,Computer & Mathematical Occupations,2020,2020,04000US36,New York,...,"New York, NY",16000US3651000,new-york-ny,176746,3993,121903.0,7.455108,169082.0,4.532712,3.242347
3,0,"Management, Business, Science, & Arts Occupations",1,"Computer, Engineering, & Science Occupations",3,Architecture & Engineering Occupations,2020,2020,04000US36,New York,...,"New York, NY",16000US3651000,new-york-ny,157727,5936,41468.0,4.239414,153114.0,3.012788,1.069949
4,0,"Management, Business, Science, & Arts Occupations",1,"Computer, Engineering, & Science Occupations",4,"Life, Physical, & Social Science Occupations",2020,2020,04000US36,New York,...,"New York, NY",16000US3651000,new-york-ny,139187,8951,36554.0,5.268917,133864.0,3.976424,0.952474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,3,"Natural Resources, Construction, & Maintenance...",7,"Natural Resources, Construction, & Maintenance...",19,"Farming, Fishing, & Forestry Occupations",2013,2013,04000US36,New York,...,"New York, NY",16000US3651000,new-york-ny,44582,10449,NaN,NaN,NaN,NaN,0.077919
188,3,"Natural Resources, Construction, & Maintenance...",7,"Natural Resources, Construction, & Maintenance...",20,Construction & Extraction Occupations,2013,2013,04000US36,New York,...,"New York, NY",16000US3651000,new-york-ny,72518,3432,NaN,NaN,NaN,NaN,4.229752
189,3,"Natural Resources, Construction, & Maintenance...",7,"Natural Resources, Construction, & Maintenance...",21,"Installation, Maintenance, & Repair Occupations",2013,2013,04000US36,New York,...,"New York, NY",16000US3651000,new-york-ny,84064,8170,NaN,NaN,NaN,NaN,1.921331
190,4,"Production, Transportation, & Material Moving ...",8,"Production, Transportation, & Material Moving ...",22,Production Occupations,2013,2013,04000US36,New York,...,"New York, NY",16000US3651000,new-york-ny,48743,1523,NaN,NaN,NaN,NaN,2.969772
191,4,"Production, Transportation, & Material Moving ...",8,"Production, Transportation, & Material Moving ...",23,Transportation Occupations,2013,2013,04000US36,New York,...,"New York, NY",16000US3651000,new-york-ny,60613,2096,NaN,NaN,NaN,NaN,4.282789